html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

body {
  padding-top: 70px;
}

header ul.nav.navbar-nav li a {
  font-size: 1.1rem;
  font-weight: bold;
}

header ul.nav.navbar-nav li.active a {
  color: #399bd1;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }
}

/*Jumbotron desktop styling*/
.jumbotron {
  background-image: url("../images/jumbotron-bike.jpg");
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
  font-size: 7.1rem;
  font-family: monoton;
  margin-top: 11.85rem;
}

.jumbotron p {
  box-sizing: border-box;
  width: 51.3rem;
  margin: 2.8rem auto;
}

.btn {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 11.4rem;
  text-shadow: none;
  padding: 1.3rem 0;
}

.btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.jumbotron .btn {
  margin-bottom: 11.85rem;
}

/*Jumbotron mobile styling*/

@media only screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

/*Main container styling*/
.main.container p {
  color: black;
  text-shadow: none;
  line-height: 1.4;
}

.section-title {
  color: #399bd1;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.project-title {
  font-size: 1.3rem;
  font-weight: bold;
}

#categories {
  color: #399bd1;
}

.image-container img {
  opacity: 0.5;
  width: 100%;
  height: auto;
}

.row {
  margin-bottom: 5.85rem;
}

.idea-gen {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  margin: auto;
  text-align: center;
}

.idea-gen h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.idea-gen p {
  width: 42rem;
  margin: 1.4rem auto;
}
